{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/nav1.html' %}
<section class="page-title bg-1">
   <div class="container">
      <div class="columns">
         <div class="column is-12">
            <div class="block has-text-centered">
               <span class="text-white">Portfolio</span>
               <h1 class="is-capitalize text-lg">Our Works</h1>

               <ul class="list-inline breadcumb-nav">
                  <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
                  <li class="list-inline-item"><span class="text-white">/</span></li>
                  <li class="list-inline-item"><a href="#" class="text-white-50">Portfolio</a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>

<!-- section portfolio start -->
<section class="section portfolio">
	<div class="container">
		<div class="columns is-justify-content-center">
			<div class="column is-8-desktop">
				<div class="heading has-text-centered">
					<h2 class="mb-5">Some of our Work</h2>
					<p>We have the skills to take your business to the next level. Speak with us today! </p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="columns is-multiline">
			<div class="column is-4-desktop is-6-tablet">
				<div class="portflio-item is-relative">
					<a href="project-details.html">
						<img src="{% static 'images/portfolio/1.jpg' %}" alt="" class="w-100">
						<div class="overlay-item"><i class="ti-link"></i></div>

						<div class="portfolio-item-content">
							<h3 class="mb-0 text-white">Project california</h3>
							<p class="text-white-50">Web Development</p>
						</div>
					</a>
				</div>
			</div>

			<div class="column is-4-desktop is-6-tablet">
				<div class="portflio-item is-relative">
					<a href="project-details.html">
						<img src="{% static 'images/portfolio/2.jpg' %}" alt="" class="w-100">
						<div class="overlay-item">
							<i class="ti-link"></i>
						</div>
						<div class="portfolio-item-content">
							<h3 class="mb-0 text-white">Project california</h3>
							<p class="text-white-50">Web Development</p>
						</div>
					</a>
				</div>
			</div>

			<div class="column is-4-desktop is-6-tablet">
				<div class="portflio-item is-relative">
					<a href="project-details.html">
						<img src="{% static 'images/portfolio/3.jpg' %}" alt="" class="w-100">

						<div class="overlay-item">
							<i class="ti-link"></i>
						</div>
						<div class="portfolio-item-content">
							<h3 class="mb-0 text-white">Project california</h3>
							<p class="text-white-50">Web Development</p>
						</div>
					</a>
				</div>
			</div>

			<div class="column is-4-desktop is-6-tablet">
				<div class="portflio-item is-relative">
					<a href="project-details.html">
						<img src="images/portfolio/4.jpg" alt="" class="w-100">

						<div class="overlay-item">
							<i class="ti-link"></i>
						</div>
						<div class="portfolio-item-content">
							<h3 class="mb-0 text-white">Project california</h3>
							<p class="text-white-50">Web Development</p>
						</div>
					</a>
				</div>
			</div>

			<div class="column is-4-desktop is-6-tablet">
				<div class="portflio-item is-relative">
					<a href="project-details.html">
						<img src="images/portfolio/5.jpg" alt="" class="w-100">

						<div class="overlay-item">
							<i class="ti-link"></i>
						</div>
						<div class="portfolio-item-content">
							<h3 class="mb-0 text-white">Project california</h3>
							<p class="text-white-50">Web Development</p>
						</div>
					</a>
				</div>
			</div>

			<div class="column is-4-desktop is-6-tablet">
				<div class="portflio-item is-relative">
					<a href="project-details.html">
						<img src="images/portfolio/6.jpg" alt="" class="w-100">

						<div class="overlay-item">
							<i class="ti-link"></i>
						</div>
						<div class="portfolio-item-content">
							<h3 class="mb-0 text-white">Project california</h3>
							<p class="text-white-50">Web Development</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- section portfolio END -->

{% include 'partials/footer.html' %}
{% endblock %}
